body {
  font-family: 'Poppins', sans-serif;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-1000px); /* Ganti nilai dengan (total_lebar_kartu - lebar_container) */
  }
}

/* ============================== navbar =============================== */
/* Styles for navbar links */
.container-fluid{
  width: 80%;
}

.navbar-nav .nav-link {
  transition: color 0.3s ease;
}

/* Hover effect for navbar links */
.navbar-nav .nav-link:hover {
  color: #088395;
}

/* Align navbar collapse to the right */
.navbar-collapse {
  justify-content: flex-end;
}

.navbar{
  position: fixed;
  width: 100%;
  transition: background-color 0.3s ease;
  z-index: 2;
  background-color: white;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

/* Sembunyikan dropdown menu secara default */
.dropdown-menu {
display: none;
}

/* Tampilkan dropdown menu saat kursor mengarah ke menu */
.dropdown:hover .dropdown-menu {
display: block;
}

/* ========================== section 1 ========================= */

/* Section 1 */
#awal{
  background-color: #DDF2FD;
  height: 550px;
  width: 100%;
  display: flex;
  margin: 0;
  position: relative;

  overflow: hidden;
}

.fullscreen-bg__video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translate(-50%, -50%);
}

.video-hero{
  top: 0;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Hitam dengan opacity 0.5 */
}

/* =============================== section 2 ============================= */

/* section 2 */
#content-chart {
background: url("../assets/images/background1.png") no-repeat center center;
background-size: cover;
display: flex;
align-items: center;
}

.line {
  display: block; /* Pastikan elemen tampil sebagai block element */
  width: 100%; /* Default untuk layar kecil */
  border: solid 1px #088395; /* Border default */
}

.section-content-chart{
  display: flex;
  align-items: center;
  height: 22em;
}

.section-2-content p{
  justify-content: justify;
}

/* panah tengah 2 */
.fa-arrow-down{
  color: #088395;
  }
  
  .arrow{
  width: 100%;
  display: flex;
  justify-content: center;
  }

  @media(max-width: 768px) {
    .section-2-content{
      display: none;
    }
    .section-2-contents{
      width: 100%;
    }
  }

/* ================================= section 3 ================================= */
/* Animasi untuk memunculkan modal */
.modal {
position: fixed;
z-index: 9999999999999999999999999999;
width: 100%; /* Atur lebar modal sesuai kebutuhan */
height: 0;
overflow: hidden;
background-color: rgba(0, 0, 0, 0.8);
transition: height 1s ease; /* Animasi expand selama 1 detik */
}

.modal-content{
width: 80%;
left: 50%;
top: 50%;
transform: translate(-50%, -50%);
max-height: 80vh;
overflow-y: auto;
border: 1px solid #888;
position: relative;
overflow-x: hidden;
background: url("../assets/images/shading.png") center/cover no-repeat;
height: 100vh;
padding: 20px;
}

.close {
position: absolute;
top: 10px;
right: 10px;
cursor: pointer;
}

/* Menampilkan modal saat class show ditambahkan */
.modal.show {
  display: block;
  height: 100%;
}

#section-3{
  background: url("../assets/images/background22.png") no-repeat center center;
  background-size: cover;
  width: 100%;
}

.s01 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.angry-grid {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  height: 300px;
  width: 100%;
}

.angry-grid > div {
  border-radius: 20px;
}

.logo-series{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px; /* Jarak antar gambar */
}

.logo-series img {
 width: 90%;
  height: auto !important;
  margin-right: 10px; /* Jarak antar gambar */
  margin-bottom: 10px; /* Jarak antar baris */
}

#item-0 {
  background-color: #3bb6c9;
  grid-row: 1 / span 2;
  grid-column: 1 / span 2;
}

#item-1 {
  background-color:#128091;
  grid-row: 1 / 2;
  grid-column: 3 / 4;
}

#item-2 {
  background-color: #17636e;
  grid-row: 2 / 3;
  grid-column: 3 / 4;
}

#item-3 {
  background-color: #a7f0fc;
  grid-row: 3 / 4;
  grid-column: 1 / 2;
}

#item-7 {
  background-color: #4c6266;
  grid-row: 3 / 4;
  grid-column: 2 / 4;
}

#item-4 {
  background-color: #7eb6be;
  grid-row: 2 / 4;
  grid-column: 4 / 5;
}

#item-5 {
  background-color:#55e8ff;
  grid-row: 1 / 2;
  grid-column: 4 / 5;
}

#item-6 {
  background-color: #002f36;
  grid-row: 1 / 4;
  grid-column: 5 / 6;
}


.image-solution img {
  height: 200px
}

.image-solution {
  display: flex;
  flex-direction: column;
  height: 540px;
  position: relative;
}

.image-kanan {
  align-items: center;
  justify-content: center;
  background: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgba(255, 0, 0, 0) 25%), url("../assets/images/logosx1.png");
  background-size: cover;
  max-height: 270px;
}

.gambar-ss:hover .hover-text {
  opacity: 1;
  visibility: visible;
}

.hover-text {
  color: white !important;
  overflow-wrap: break-word; /* Membuat teks panjang memecah ke baris baru */
}

.gambar-ss {
  position: relative;
  border-radius: 20px; /* Sesuaikan border radius dengan elemen utama */
  overflow: hidden; /* Menghindari teks keluar dari kotak */
  box-shadow: 5px 4px 8px rgba(0, 0, 0, 0.5); /* Contoh bayangan untuk semua elemen dengan kelas gambar-ss */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transisi pada transformasi dan bayangan */
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gambar-ss img {
  transition: filter 0.3s, transform 0.3s; /* Transisi untuk perubahan filter dan ukuran */
}

.gambar-ss:hover img {
  filter: blur(2px); /* Memberikan efek blur saat di-hover */
  transform: scale(1.2); /* Memperluas ukuran gambar saat di-hover */
}

.gambar-ss .hover-text {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0s;
  background-color: rgba(6, 223, 177, 0.9);
  border-radius: inherit;
  display: flex;
  justify-content: center;
  align-items: center; /* Pusatkan vertikal teks di tengah kotak */
  white-space: normal; /* Mengizinkan teks untuk pindah ke baris baru */
  text-align: center;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 10px; /* Atur padding sesuai kebutuhan */
}

@media(max-width:768px) {
  .s01 {
    height: 60vh;
  }

  .modal-content{
    width: 80%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-height: 80vh;
    overflow-y: auto;
    border: 1px solid #888;
    position: relative;
    overflow-x: hidden;
    background: white;
    }
    
    .close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    }
}

/* ================================== section 4 ================================ */
#abt
{
  background: url('../assets/images/background\ new\ compro.png')center center;
  background-size: cover;
  background-attachment: fixed;
}
.contentabt{
  display: flex; 
  text-align: justify;
  align-items: center;
  padding: 20px;
  color: white;
  padding-top: 50px;
  padding-bottom: 50px;
}

.textssss {
  color: white;
  text-decoration: none;
  border: 2px solid #ffffff;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 30px;
  transition: all 0.2s ease-in-out;
  background-color:  rgba(6, 223, 177, 0.9); /* Latar belakang awal */
  }
  
  .textssss:hover {
  color:  rgba(6, 223, 177, 0.9); /* Saat hover, warna teks akan berubah menjadi hitam */
  background-color: white; /* Saat hover, latar belakang akan berubah menjadi putih */
  }

  
.garis-tebal{
  width: 200px;
  border: solid 1;
  border-color: 1;
  }
/* ================================== section 5 ================================ */

.partner-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  background-color: #ffffff;
  width: 100%;
}

.partner-grid img {
  max-width: 100%;
  height: auto;
}

.image-item img {
  width: 100%;
  height: auto;
}

#section-5{
  background: url("../assets/images/background3.png") center no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}

/* ==================================== artikel ===================================== */
.artikelss {
  margin-top: 20px;
  margin-bottom: 20px;
  }
  

  .card-img-top {
    height: 150px;
    width: 100%;
    object-fit: cover; /* Untuk menjaga proporsi gambar */
  }

.card-content {
  display: flex;
  text-align: center;
  position: relative;
}

.card{
  width: 100%; /* Lebar default card */
  margin-bottom: 20px;
}

.card-body p{
  height: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-text{
  text-align: left;
}

.card-texts {
  color: rgb(0, 0, 0);
  flex: 1;
  text-align: justify;  
}

.card-texts h4 {
  color: #088395;
}

.text {
  width: 100%;
  display: flex;
  justify-content: right;
  margin: 10px 0px 30px 0px;
}


.card-artikel {
width: 100%;
display: flex;
flex-wrap: wrap;
justify-content: space-around;
}

.ellipsis-text {
max-height: 300px; /* Tentukan tinggi maksimum */
overflow: hidden; /* Sembunyikan konten yang melebihi tinggi maksimum */
text-overflow: ellipsis; /* Tampilkan ellipsis (...) untuk konten yang tersembunyi */
white-space: nowrap; /* Pastikan konten tidak mematahkan baris */
}

.judul-section-5{
  display: flex;
  margin-bottom: 50px;
  width: 100%;
  justify-content: center;
}

.texts{
display: flex;
padding: 20px;
justify-content: end;
}

.wrap-content-card {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
  max-width: 1200px; /* Misalkan, untuk membatasi lebar maksimum konten */
  width: 100%;
  padding: 0 20px; /* Atur padding jika diperlukan */
}

.item-card{
display: flex;
justify-content: center;
align-items: center;
width: 100%;
}

.button-artikel{
background-color: #ffffff;
color: #088395;
border: solid 2px #088395;
border-radius: 35px;
transition: all 0.2s ease-in-out;
}

.button-artikel:hover{
background-color:  #088395;
border: solid 2px #088395;
color: #ffffff;
border-radius: 35px;
transition: all 0.2s ease-in-out;
}

/* Media query for mobile screens */
@media (max-width: 768px) {
  .wrap-content-card {
    grid-template-columns: 1fr; /* Single column layout */
  }

  .card {
    width: 100%; /* Ensure card takes full width */
  }
  .texts{
    display: flex;
    padding: 40px;
    justify-content: end;
    }
    
}

/* form cotact */
#contact{
width: 100%;
background: url("../assets/images/background4.png") center no-repeat;
background-size: cover;
position: relative;
padding: 50px;
}

.textbaner{
width: 100%;
padding-bottom: 50px;
display: flex;
justify-content: center;
}

/* Layout desktop */
.s02{
display: flex;
}

#mapss {
flex: 1;
margin-right: 20px;
}

.formcontact {
flex: 1;
}

@media (max-width: 767px) {
  .s02 {
    flex-direction: column; /* Mengubah arah tata letak menjadi kolom terbalik */
  }

  .formcontact, #mapss {
    width: 100%; /* Menggunakan lebar penuh untuk kedua bagian */
    margin-right: 0; /* Menghapus margin kanan pada peta */
  }
}

/* footer */
#footer {
background-image: url('../assets/images/background-footer.jpg');
text-align: center;
color: rgb(255, 255, 255);
padding: 30px 0;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Mengubah jumlah kolom pada grid */
  gap: 20px;
  }

.column {
display: flex;
flex-direction: column;
align-items: center;
padding: 10px;
text-align: center; /* Menyesuaikan tata letak teks */
}

.column h5 {
margin: 5px 0;
}

#copyright {
background-color: #128091;
}

.garis {
width: 25%;
border: solid 0.5px #ffffff;
}

.logos {
padding: 10px; /* Mengurangi padding untuk responsifitas */
}

.comuns {
display: flex;
justify-content: center;
align-items: center;
}

.ouurs a {
color: white !important;
text-decoration: none !important;
}

.telepon a,
.mail a {
color: white;
text-decoration: none;
}

.kartu{
box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
}